@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexAround {
    @apply flex items-center justify-around;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .inputClass {
    @apply py-4 px-4 w-full md:w-[80%] lg:w-[80%] rounded-lg;
  }

  /* FONTS */

  .small-10 {
    @apply text-[10px] font-[400] leading-[40px];
  }

  .small-12 {
    @apply text-[12px] font-[400] leading-[100%];
  }

  .small-16 {
    @apply text-[16px] font-[400] leading-[100%];
  }
  .small-14 {
    @apply text-[14px] font-[400] leading-[100%];
  }
  .small-18 {
    @apply text-[18px] font-[400] leading-[100%];
  }
  .small-20 {
    @apply text-[20px] font-[400] leading-[100%];
  }
  .small-24 {
    @apply text-[24px] font-[400] leading-[100%];
  }

  .regular-12 {
    @apply text-[12px] font-[500] leading-[100%];
  }

  .regular-14 {
    @apply text-[14px] font-[500] leading-[100%];
  }
  .regular-16 {
    @apply text-[16px] font-[500] leading-[100%];
  }

  .regular-20 {
    @apply text-[20px] font-[400] leading-[40px];
  }

  .regular-22 {
    @apply text-[22px] font-[500] leading-[100%];
  }

  .regular-24 {
    @apply text-[24px] font-[500] leading-[100%];
  }

  .regular-30 {
    @apply text-[30px] font-[700] leading-[100%];
  }

  .large-24 {
    @apply text-[24px] font-[600] leading-[100%];
  }

  .large-30 {
    @apply text-[30px] font-[700] leading-[40px];
  }

  .large-40 {
    @apply text-[40px] font-[700] leading-10;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary-foreground: #9c949b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
